  {% extends 'base.html' %}
  {% load static %}

  {% block content %}
  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container">

        
          <form method="post" action="{% url 'cam' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="card">
              <img src="{% static "assets/img/up.png" %}" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="bx bx-landscape"></i>
              </div>
              <div class="card-body">
              
                <h5 class="card-title"><input type="file" name="file" autocomplete="off" required class="btn btn-dark"></h5>
                <h5 class="card-title"> <input type="submit" class="btn btn-dark"> Upload Video</h5>
              </div>
            </div>
         
        </form>
        </div>

      </div>
    </section><!-- End Why Us Section -->

  </main><!-- End #main -->
  {% endblock content %}